# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:

In [ ]:
1. NumPy
2. Sci-kit Learn 
3. Matplotlib

Table Of Data Science Tools

In [27]:
| Data Science Tools |
|-------------------------------|  
|RStudio|TensorFlow|Apache Spark|

SyntaxError: invalid syntax (3225303024.py, line 1)

### Below are a few examples of evaluating arithmetic expressions in Python

Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to mutiply 
(3*4)+5

17

In [16]:
# This a simple arithmetic expression to mutiply then add integers
(3+4)+5

12

In [17]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Objectives

In [21]:
# List popular languages for Data Science
- R
- Python
- SQL

NameError: name 'R' is not defined

## Author

In [ ]:
Sadikshya Acharya